<div class="footer">
  <div class="container">
    <div class="row footer-main">
      <div class="col-sm  footer-grid">
        <ul>
          <li *ngFor="let categoria of categorias">
            <a routerLink="/categoria/{{categoria.id_cat}}">{{categoria.nomb_cat}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm  footer-grid">
        <ul>
          <li><a href="login.html">Your Account</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="product.html">Store Locator</a></li>
          <li><a href="pressroom.html">Press Room</a></li>
        </ul>
      </div>
      <div class="col-sm  footer-grid">
        <ul>
          <li><a href="terms.html">Website Terms</a></li>
          <li><select class="country">
              <option value="select your location">Select Country</option>
              <option value="saab">Australia</option>
              <option value="fiat">Singapore</option>
              <option value="audi">London</option>
            </select>

          </li>
          <li><a href="shortcodes.html">Short Codes</a></li>
        </ul>
      </div>
      <div class="col-sm footer-grid-icon">
        <ul>
          <li><a href="#"><span class="u-tub"> </span></a></li>
          <li><a href="#"><span class="instro"> </span></a></li>
          <li><a href="#"><span class="twitter"> </span></a></li>
          <li><a href="#"><span class="fb"> </span></a></li>
          <li><a href="#"><span class="print"> </span></a></li>
        </ul>
        <form>
          <input class="email-ftr" type="text" value="Newsletter" onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'Newsletter';}">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
