<div class="wrapper">

<app-navigation-admin></app-navigation-admin>

<app-sidebar-container-admin></app-sidebar-container-admin>

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
<router-outlet></router-outlet>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<app-footer-admin></app-footer-admin>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
