<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Empleados</h1>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<button class="btn btn-primary mb-4" (click)="open(empleadoModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #empleadoModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Empleado</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Nombres</label>
            <input type="text" name="nombre_persona" [(ngModel)]="persona.nombre_persona" class="form-control"
              placeholder="Ingrese nombres del empleado">
          </div>
          <div class="form-group">
            <label for="">Apellidos</label>
            <input type="text" name="apellido_persona" [(ngModel)]="persona.apellido_persona" class="form-control"
              placeholder="Ingrese apellidos del empleado">
          </div>
          <div class="form-group">
            <label for="">Tipo de Identificacion</label>
            <select name="tipoidentificacion" id="" [(ngModel)]="persona.id_tipo_ident" class="form-control" >
              <option  *ngFor="let tipoIdentificacion  of tiposIdentificacion" value="{{tipoIdentificacion.id_tipo_ident}}">{{tipoIdentificacion.nombre_tipo_ident}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">DNI</label>
            <input type="text" name="dni" [(ngModel)]="persona.dni" class="form-control"
              placeholder="Ingrese numero de dni">
          </div>
          <div class="form-group">
            <label for="">email</label>
            <input type="email" name="email" [(ngModel)]="empleado.email" class="form-control"
              placeholder="Ingrese su email">
          </div>
          <div class="form-group">
            <label for="">Cargo</label>
            <select name="cargo" id="" [(ngModel)]="empleado.id_cargo" class="form-control" >
              <option  *ngFor="let cargo of cargos" value="{{cargo.id_cargo}}">{{cargo.nomb_cargo}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Estado</label>
            <select name="estado_empl" id="" [(ngModel)]="empleado.estado_empl" class="form-control" >
              <option value="A">Activo</option>
              <option value="P">Pendiente</option>
              <option value="I">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn  btn-primary"(click)="saveEmpleado()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Cargo</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.dni}}</td>
          <td>{{empleado.nombre_persona}}</td>
          <td>{{empleado.apellido_persona}}</td>
          <td>{{empleado.nomb_cargo}}</td>
          <td>
            <div *ngIf="empleado.estado_empl=='I'" class="badge badge-danger">Inactivo</div>
            <div *ngIf="empleado.estado_empl=='P'" class="badge badge-warning">Pendiente</div>
            <div *ngIf="empleado.estado_empl=='A'"class="badge badge-success">Activo</div>
          </td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editEmpleado(empleado)"><i class="fa fa-edit"></i></button>
            &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger" (click)="borrarEmpleado(empleado.id_empleado)"><i
                class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

