<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Marca</h1>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<button class="btn btn-primary mb-4" (click)="open(marcaModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #marcaModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Marca</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" name="nomb_marca" [(ngModel)]="marca.nomb_marca" class="form-control"
              placeholder="Ingrese nombre de la marca">
          </div>
          <div class="form-group">
            <label for="">Observación</label>
            <input type="text" name="observ_marca" [(ngModel)]="marca.observ_marca" class="form-control"
              placeholder="Ingrese Observacion">
          </div>
          <div class="form-group">
            <label for="">Estado</label>
            <select name="marca" id="" [(ngModel)]="marca.estado_marca" class="form-control" >
              <option value="A">Activo</option>
              <option value="P">Pendiente</option>
              <option value="I">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn  btn-primary"(click)="saveMarca()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Observación</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let marca of marcas">
          <td>{{marca.nomb_marca}}</td>
          <td>{{marca.observ_marca}}</td>
          <td>
            <div *ngIf="marca.estado_marca=='I'" class="badge badge-danger">Inactivo</div>
            <div *ngIf="marca.estado_marca=='P'" class="badge badge-warning">Pendiente</div>
            <div *ngIf="marca.estado_marca=='A'"class="badge badge-success">Activo</div>
          </td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editMarca(marca)"><i class="fa fa-edit"></i></button>
            &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger" (click)="borrarMarca(marca.id_marca)"><i
                class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
