<button class="btn btn-primary mb-4" (click)="open(provinciaModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #provinciaModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Provincia</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" name="nombre_provincia	" [(ngModel)]="provincia.nombre_provincia	" class="form-control"
              placeholder="Ingrese nombre de la provincia">
          </div>
          <div class="form-group">
            <label for="">Pais</label>
            <select name="pais" id="" [(ngModel)]="provincia.id_pais" class="form-control" >
              <option  *ngFor="let pais of paises" value="{{pais.id_pais}}">{{pais.nombre_pais}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Estado</label>
            <select name="provincia" id="" [(ngModel)]="provincia.estado_prov" class="form-control" >
              <option value="A">Activo</option>
              <option value="P">Pendiente</option>
              <option value="I">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn  btn-primary"(click)="saveProvincia()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Pais</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let provincia of provincias">
          <td>{{provincia.nombre_provincia}}</td>
          <td>{{provincia.nombre_pais}}</td>
          <td>
            <div *ngIf="provincia.estado_prov=='I'" class="badge badge-danger">Inactivo</div>
            <div *ngIf="provincia.estado_prov=='P'" class="badge badge-warning">Pendiente</div>
            <div *ngIf="provincia.estado_prov=='A'"class="badge badge-success">Activo</div>
          </td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editProvincia(provincia)"><i class="fa fa-edit"></i></button>
            &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger" (click)="borrarProvincia(provincia.id_provincia)"><i
                class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>


