<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Empresa</h1>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<button class="btn btn-primary mb-4" (click)="open(empresaModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #empresaModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Empresa</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Razon Social</label>
            <input type="text" name="razon_social" [(ngModel)]="empresa.razon_social" class="form-control"
              placeholder="Ingrese nombre de la empresa">
          </div>
          <div class="form-group">
            <label for="">Codigo de Envio</label>
            <input type="text" name="codigo_envio" [(ngModel)]="empresa.codigo_envio" class="form-control"
              placeholder="Ingrese codigo de envio">
          </div>
          <div class="form-group">
            <label for="">Nombre Comercial</label>
            <input type="text" name="nombre_comercial" [(ngModel)]="empresa.nombre_comercial" class="form-control"
              placeholder="Ingrese nombre comercial">
          </div>
          <div class="form-group">
            <label for="">RUC</label>
            <input type="text" name="ruc" [(ngModel)]="empresa.ruc" class="form-control"
              placeholder="Ingrese ruc de la empresa">
          </div>
          <div class="form-group">
            <label for="">Fecha de Inicio</label>
            <input type="date" name="fecha_inicio" [(ngModel)]="empresa.fecha_inicio" class="form-control"
              placeholder="Ingrese fecha de inicio">
          </div>
          <div class="form-group">
            <label for="">Fecha de Fin</label>
            <input type="date" name="fecha_fin" [(ngModel)]="empresa.fecha_fin" class="form-control"
              placeholder="Ingrese fecha de fin">
          </div>
          <div class="form-group">
            <label for="">Estado</label>
            <select name="empresa" id="" [(ngModel)]="empresa.estado_empresa" class="form-control" >
              <option value="A">Activo</option>
              <option value="P">Pendiente</option>
              <option value="I">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn  btn-primary"(click)="saveEmpresa()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Razon Social</th>
          <th scope="col">Codigo de Envio</th>
          <th scope="col">Nombre Comercial</th>
          <th scope="col">Ruc</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let empresa of empresas">
          <td>{{empresa.razon_social}}</td>
          <td>{{empresa.codigo_envio}}</td>
          <td>{{empresa.nombre_comercial}}</td>
          <td>{{empresa.ruc}}</td>
          <td>{{empresa.fecha_inicio}}</td>
          <td>{{empresa.fecha_fin}}</td>
          <td>
            <div *ngIf="empresa.estado_empresa=='I'" class="badge badge-danger">Inactivo</div>
            <div *ngIf="empresa.estado_empresa=='P'" class="badge badge-warning">Pendiente</div>
            <div *ngIf="empresa.estado_empresa=='A'"class="badge badge-success">Activo</div>
          </td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editEmpresa(empresa)"><i class="fa fa-edit"></i></button>
            &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger" (click)="borrarEmpresa(empresa.id_empresa)"><i
                class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

