<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
  <div class="navbar-brand logo">
    <a href="index.html"><img src="assets/images/logo1.png" alt=""></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu dropdown-menu multi-column " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <div class="header-right">
      <div class="search">
        <div class="search-text">
            <input class="serch" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"/>
        </div>
        <div class="cart box_1">
          <a href="checkout.html">
          <h3>
            <img src="assets/images/cart.png" alt=""/>
            <div class="total">
            <span class="simpleCart_total"></span></div>
            </h3>
          </a>
          <p><a href="javascript:;" class="simpleCart_empty">Carrito de Compras</a></p>
        </div>
        <div class="head-signin">
          <h5><a routerLink="/login" ><i class="hd-dign"></i>Iniciar sesion</a></h5>
        </div>
                   <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</nav>
