<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Cargos</h1>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<button class="btn btn-primary mb-4" (click)="open(cargoModal)">Nuevo</button>
  <br>
  <!—Ventana Modal -->
    <ng-template #cargoModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cargo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" name="nomb_cargo" [(ngModel)]="cargo.nomb_cargo" class="form-control"
              placeholder="Ingrese nombre de la cargo">
          </div>
          <div class="form-group">
            <label for="">Observacion</label>
            <input type="text" name="apellido" [(ngModel)]="cargo.observ_cargo" class="form-control"
              placeholder="Ingrese Observacion">
          </div>
          <div class="form-group">
            <label for="">Fecha de Inicio</label>
            <input type="date" name="fechaini_cargo" [(ngModel)]="cargo.fecha_inicio" class="form-control"
              placeholder="Ingrese fecha de inicio">
          </div>
          <div class="form-group">
            <label for="">Fecha de Fin</label>
            <input type="date" name="fechafin_cargo" [(ngModel)]="cargo.fecha_fin" class="form-control"
              placeholder="Ingrese fecha de fin">
          </div>
          <div class="form-group">
            <label for="">Estado</label>
            <select name="cargo" id="" [(ngModel)]="cargo.estado_cargo" class="form-control" >
              <option value="A">Activo</option>
              <option value="P">Pendiente</option>
              <option value="I">Inactivo</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  btn-primary" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn  btn-primary"(click)="saveCargo()">Guardar</button>
      </div>
    </ng-template>
    <!--Cierre Ventana Modal  -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Observación</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col">Estado</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre arreglo de aportes almacenándola en variable  producto desde productos -->
        <tr *ngFor="let cargo of cargos">
          <td>{{cargo.nomb_cargo}}</td>
          <td>{{cargo.observ_cargo}}</td>
          <td>{{cargo.fecha_inicio}}</td>
          <td>{{cargo.fecha_fin}}</td>
          <td>
            <div *ngIf="cargo.estado_cargo=='I'" class="badge badge-danger">Inactivo</div>
            <div *ngIf="cargo.estado_cargo=='P'" class="badge badge-warning">Pendiente</div>
            <div *ngIf="cargo.estado_cargo=='A'"class="badge badge-success">Activo</div>
          </td>
          <td>
            <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editCargo(cargo)"><i class="fa fa-edit"></i></button>
            &nbsp;
            <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
            <button class="btn btn-danger" (click)="borrarCargo(cargo.id_cargo)"><i
                class="fa fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

